<div class="space">
    <label for="onlyNumbersWithDots">Only Numbers with DOTS</label>
    <input type="text" onlyNumbers id="onlyNumbersWithDots" class="left-space">
</div>

<br>

<div class="space">
    <label for="onlyNumbersWithoutDots">Only Numbers without Dots</label>
    <input type="text" onlyNumbers="true" id="onlyNumbersWithoutDots" class="left-space">
</div>

<br>

<div class="space">
    <label for="onlyNumbersOneDot">Only Numbers with just one DOT</label>
    <input type="text" onlyNumbersOneDot id="onlyNumbersOneDot" class="left-space">
</div>
